# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma

.claudeignore
.claude
readme-ideas-features.md
recap-project.md
test_prisma.ts
clear_db.ts
tsconfig.tsbuildinfo 
*.tsbuildinfo   